## Set and generate retooldb postgres credentials
POSTGRES_HOST=retooldb-postgres
POSTGRES_DB=postgres
POSTGRES_USER=root

# Copy the value for RETOOLD_POSTGRES_PASSWORD from docker.env
POSTGRES_PASSWORD=

POSTGRES_PORT=5432
